# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
.venv/
env/
.env/

# Editor-specific files
.vscode/
.idea/ # For PyCharm users, often included for completeness

# Build artifacts
dist/
build/
*.egg-info/

# Tests
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Miscellaneous
*.log
*.sqlite3